body{background-image: url(Fondo.gif); background-size: cover;background-position: 0px -129023112px; text-align: center;}
h1{color: rgb(0, 217, 255); font-family: cursive;}
svg{color: aqua; height: 100px; width: 100px;}
iframe{text-align: center;}