body{background-image: url(Fondo.gif); background-size: cover;background-position: 0px -190283921783781273px;}
h1{color: rgb(0, 217, 255); font-family: cursive;}
svg{color: aqua; height: 100px; width: 100px;}